<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dropdowns 2: Multiple levels</title>
	
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>

 <div id="heading" style="padding-left: 20px;">
		<b><h1>
				<u>Dashboard</u>
			</h1></b>
</div>

<div id="container">
	<div id="info" class="info">
			The colour indicates the behaviour of a service in a particular
			Environment.<br /> <b style="color: green;">Green: </b>Indicates
			service is healthy<br /> <b style="color: #FF9400;">Amber: </b>Indicates
			below normal health<br /> <b style="color: red;">Red: </b>Indicates
			service is down
		<div id="error" class="errormsg" style="display: none;">
				<h3>
					<b>To view the graphs, please log in to the OpenNMS web console</b>
				</h3>
		</div>
	</div>


<div id="env" style="padding-left: 40px;">
			<h3>
				<b>></b> List of Environment
			</h3>
  		


	<% for i in 0..((@environments.length)-1) %>
	<script>
	var colour = "green";
	</script>
	<button id="envnames" colour="false"
					onclick="myFunction('<%=@envArray[i]['name']%>')"
					class="w3-btn w3-block w3-left-align"
					name="<%=@envArray[i]['name']%>">
					<b><i>> <%=@envArray[i]['name']%></i></b>
				</button>
				

				<div id="<%=@envArray[i]['name']%>"
					class="w3-container w3-hide" style="padding-left: 40px;">

					<br />
					<h4>
						<b>></b> Name and details of associated VM
					</h4>
					<br />

					<% for j in 0..((@vmArray.length)-1) %>
						<%if @vmArray[j]['foreignSource'] == @envArray[i]['name']%>
							<% clearStorageList%>
							<button id="vmnames" colour="false"
								onclick="myFunction('<%=@envArray[i]['name']%><%=@vmArray[j]['label']%>')"
								class="w3-btn w3-block w3-left-align"
								name="<%=@envArray[i]['name']%><%=@vmArray[j]['label']%>">
								<b>></b> <b><i> <%=@vmArray[j]['label']%></i></b>
							</button>
<div id="<%=@envArray[i]['name']%><%=@vmArray[j]['label']%>"
								class="w3-container w3-block w3-hide"
								style="padding-left: 40px;">


								<br> <b>Details</b> <br> <br> <b>></b> Average
								CPU usage (last 10 mins): <%=getCPUusage(@vmArray[j]['id'])%>%<br>
								<%# <br> <b>></b> Total Memory used : <%=getPhysicalMemoryUsed(@vmArray[j]['id'])%>% <br />
								<% if isYes('C')%>
									<b>></b> Storage Utilized on C drive :
								 <br />
									<br>
								<%end%>
									<br>
									<%if isYes('D')%>
									<b>></b> Storage Utilized on D drive :
								 <br />
									<br>
								<%end%>
									<br>
									<%if isYes('E')%>
									<b>></b> Storage Utilized on E drive :
							 <br />
									<br>
							<%end%>
								<b>></b> <%=@vmArray[j]['sysDescription']%> <br>

<%dataname = @envArray[i]['name']
                          nameOfEnv = dataname.split(" ")%>
								<div>
									<table cellpadding="5" cellspacing="5">
										<tr>
											<td><img class="graphImg"
												src="http://10.102.84.101:8980/opennms/graph/graph.png?resourceId=node%5B<%=nameOfEnv[0]%><%=nameOfEnv[1]%>%253A<%=@vmArray[j]['foreignId']%>%5D.nodeSnmp%5B%5D&amp;report=microsoft.cpuPercentBusy&amp;start=<%=@startTime%>&amp;end=<%=@endTime%>&amp;width=499&amp;height=220"
												alt="Resource graph: CPU Utilization"
												onError="showLogin();this.onerror=null;this.style.display='none';" /></td>
											<td><img class="graphImg"
												src="http://10.102.84.101:8980/opennms/graph/graph.png?resourceId=node%5B<%=nameOfEnv[0]%><%=nameOfEnv[1]%>%253A<%=@vmArray[j]['foreignId']%>%5D.hrStorageIndex%5BPhysicalMemory%5D&amp;report=mib2.storage.usage&amp;start=<%=@startTime%>&end=<%=@endTime%>&width=487&height=137"
												alt="Resource graph: Storage Utilization"
												onError="this.onerror=null;this.style.display='none';" /></td>
										</tr>
										<tr>
											<td><img class="graphImg"
												src="http://10.102.84.101:8980/opennms/graph/graph.png?resourceId=node%5B<%=nameOfEnv[0]%><%=nameOfEnv[1]%>%253A<%=@vmArray[j]['foreignId']%>%5D.hrStorageIndex%5BC%5D&amp;report=mib2.storage.usage&amp;start=<%=@startTime%>&amp;end=<%=@endTime%>&amp;width=487&amp;height=172"
												alt="Resource graph: Storage Utilization"
												onError="this.onerror=null;this.style.display='none';" /></td>
											<td><img class="graphImg"
												src="http://10.102.84.101:8980/opennms/graph/graph.png?resourceId=node%5B<%=nameOfEnv[0]%><%=nameOfEnv[1]%>%253A<%=@vmArray[j]['foreignId']%>%5D.hrStorageIndex%5BD%5D&amp;report=mib2.storage.usage&amp;start=<%=@startTime%>&amp;end=<%=@endTime%>&amp;width=487&amp;height=172"
												alt="Resource graph: Storage Utilization"
												onError="this.onerror=null;this.style.display='none';" /></td>
										</tr>
									</table>
									<br />
									<h4>
										<b>></b> Associated Services
									</h4>
									<br />
								</div>
									
 							<%for k in 0..((@vmMap[@vmArray[j]['label']].length)-1)%>
									

									<script>
									console.log(<%=k%>)

									function colourChange(env,vm,service) {
										if('<%=getColor%>' != "red"){
											if('<%=getColor%>'  != "amber" && colour!="amber"){
												colour = "green";
											}else{
												colour = "amber";
											}
										}else {
											colour = "red";
										}
										
										setValue = service+colour;
										console.log(setValue);
										$('button[name="'+env+'"]').attr('colour',setValue);
										$('button[name="'+env+vm+'"]').attr('colour',service+'<%=getColor%>');
										
										
									}
									colourChange('<%=@envArray[i]['name']%>','<%=@vmArray[j]['label']%>','<%=@vmMap[@vmArray[j]['label']][k]['down']%>');
									</script>
								
<button id="servicenames" class="w3-btn w3-block w3-left-align" colour="<%=@vmMap[@vmArray[j]['label']][k]["down"]%>" onclick="myFunction(<%=@envArray[i]['name']%><%=@vmArray[j]['label']%><%=@vmMap[@vmArray[j]['label']][k]['serviceType']['name']%>)"><b>></b> <%=@vmMap[@vmArray[j]['label']][k]["serviceType"]['name']%></button>


									<div
										id="<%=@envArray[i]['name']%><%=@vmArray[j]['label']%><<%=@vmMap[@vmArray[j]['label']][k]["serviceType"]['name']%>"
										class="w3-container w3-hide" style="padding-left: 40px;">

										<%if @vmMap[@vmArray[j]['label']][k]["down"]%>
									
												<b><i>Service is Down</i></b>
											
											<%else%>
												<b><i>Service is UP</i></b>
										<%end%>

									</div>

								<%end%>
							</div>
							<hr>
							<%end%>
							<%end%>

				</div>
				<%end%>
		</div>
</div>

	<script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script> 



</body> </html>
